body {
    background-image: url("/assets/images/D336_1_150_0004_600.jpg"); 

}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}